.dropdown-toggle
, .dropdown-item{
  cursor:pointer;
}

ul , li, a {
  cursor: pointer;
}

img{
  max-height: 32px;
  width: 32px;
  border: 2px solid #fff;
  display: inline;
  border-radius: 50%;
}
